 /* Form */
 .template-form{
    background-color: #f5f8ff;
    /* padding: 5px 0px; */
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 10px;
}
.template-form .form-label{
    text-align: right !important;
    font-weight: 700;
    font-size: 12px;
}

.input-row{
    margin-bottom: 14px;
}


.template-form input[type="text"],
.template-form input[type="email"],
.template-form input[type="date"],
.template-form input[type="file"],
.template-form input[type="number"],
.template-form input[type="password"],
.template-form select,
.template-form textarea{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    -webkit-box-shadow: 0px 0px 0px 1px rgb(150, 177, 245);
    -moz-box-shadow: 0px 0px 0px 1px rgba(167,188,241,1);
    box-shadow: 0px 0px 0px 1px rgb(54, 107, 240);
    padding-left: 5px;
}


.template-form textarea {
    height: auto !important;
}
/* End Form */


/* Search Form */

.search-form{
    background-color: var(--search_form_background);
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: -1px -2px 26px -5px rgba(0,58,205,1);
    -moz-box-shadow: -1px -2px 26px -5px rgba(0,58,205,1);
    box-shadow: -1px -2px 26px -5px rgba(0,58,205,1);
}

.search-form label{
    font-size: 12px;
    padding-left: 3px;
    text-align: right;
    font-weight: 600;
}

.department-wrapper{
    margin-bottom: 0px;
}

.department-wrapper hr{
    margin: 2px 0px;
}

.department-wrapper label{
    font-size: 18px !important;
}


.department-wrapper select{
    font-weight: 600;
    border: 2px solid var(--blue) !important;
}

.search-input-wrapper{
    margin-bottom: 5px;
    
}

.search-form input[type="text"],
.search-form input[type="email"],
.search-form input[type="date"],
.search-form input[type="file"],
.search-form input[type="number"],
.search-form select,
.search-form textarea{
    /* background-color: red; */
    font-size: 13px;
    border: 1px solid var(--input_border_color);
}

/* End Search Form */

/* Required Field */
.required-field{
    border:1px solid rgb(253, 134, 134) !important;
}