@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
:root {

    --blue: #3f6ad8;
    --darkBlue:#003acd;
    --light_blue:#c7d5f9;

    --table-background:#ffffff;
    /* --thead_background:#3067f1e0; */
    --thead_background:#6b95ffe0;
    --table_border: #91acf1e0;
    --thead_text:#000000;

    --number_color:#002480;


    --number_font:'Kameron', serif;
    --search_form_background:#cad6f5;
    --input_border_color:#99b5fc;
}


hr{
    margin: 5px 0px;
}


.number{
    font-family: var(--number_font);
}

.amount{
    font-size: 15px;
    font-weight: 600;
    color: var(--number_color);
    font-family: var(--number_font);
}


.ms-options ul{
    list-style-type: none;
    padding-left: 0px !important;
}